@use '../utils/functions' as fn;

.notification-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  color: fn.get-color('light-tertiary');

  &-icon {
    fill: fn.get-color('current');
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: fn.get-color('accent-primary');
    border-radius: 12px;
  }

  &[data-notify='true']::after {
    background-color: fn.get-color('danger');
  }
}
