@use 'sass:list';

@if list.index($btn-types, secondary) {
  .btn--secondary {
    &:active {
      color: #f15c27;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        color: #d14a00;
      }
    }

    &[disabled] {
      color: #b5b5be;
    }
  }
}
